@page "/FinalBill"
@inherits FinalBillPageBase
@attribute [Authorize(Roles = "admin")]
<div class="card-deck">

    <AuthorizeView Roles="admin">
        <Authorized>

            @if (FinalBills == null)
            {

                
                <div class="spinner"></div>
            }
            else
            {
                @foreach (var billill in FinalBills)
                {
                    <div class="card-header">
                        <h3>Info </h3>
                        <h4>id: @billill.IdFinalBill </h4>

                        <h4>Payers name: @billill.Payer.Name</h4>
                        <h4>Recivers name: @billill.Receiver.Name </h4>
                        <label>status: @billill.Status.ShortName</label>
                    </div>

                }
            }
        </Authorized>
        <NotAuthorized>
            you are not authorized fore this page
        </NotAuthorized>
    </AuthorizeView>
</div>

